<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://Java.Sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <!--  /sign-up  -->
  <servlet>
    <servlet-name>registerNavServlet</servlet-name>
    <servlet-class>com.k19.controllers.registerNav</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerNavServlet</servlet-name>
    <url-pattern>/sign-up</url-pattern>
  </servlet-mapping>
  <!-- /sign-up/confirm -->
  <servlet>
    <servlet-name>registerConfirmServlet</servlet-name>
    <servlet-class>com.k19.controllers.employeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerConfirmServlet</servlet-name>
    <url-pattern>/sign-up/confirm</url-pattern>
  </servlet-mapping>
  <!-- css,js -->
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.css</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.js</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>sample.jsp</welcome-file>
  </welcome-file-list>
</web-app>